body {color:#FFFFFF;font-family:Georgia;font-size:13px;
	margin:0;
	padding:0;
	color:white;
	overflow:hidden;


}

img.back {
	position:absolute;
	width:100%;
	height:102%;
	z-index:-999;
	margin:none;
}

#GamesContainer {
	position:absolute;
	height:83%;
	width:92%;
	left:4%;
	top:5%;
	
	background-color:#000000;
	border: 5px solid #555555;
	border-radius:20px;
}