#highlightmenu {
	visibility:hidden;
	position:absolute;
	top:40%;
	left:30%;
	width:40%;
	height:20%;
	background-color:rgba(0,10,200,.5);
	overflow:auto;
	border-radius:20px;
	z-index:1;
}

#closehighlightmenu {
	position:absolute;
	width:15%;
	height:5%;
	top:0%;
	right:1%;
}

#input {
	position:absolute;
	width:100%;
	height:50%;
	top:50%;
	overflow:auto;
}

#notes {
	position:absolute;
	width:40%;
	height:20%;
	top:60%;
	left:30%;
	overflow:auto;
	
	background-color:yellow;
	visibility:hidden;
	
	z-index:1;
}

#clearhighlightedtext {
	position:absolute;
	width:30%;
	height:50%;
	left:2%;
	top:2%;
	background-color:#ff6700;
}

#highlightedtext {
	position:absolute;
	top:52%;
	left:2%;
	width:95%;
}

#savetext {
	position:absolute;
	width:30%;
	height:50%;
	top:2%;
	left:35%;
	background-color:red;
}

#bluehighlighter {
	position:absolute;
	width:5%;
	height:3%;
	top:2%;
	left:41%;
	background-color:#00a287;
	
	visibility:hidden;
	
	z-index:1;
}

#yellowhighlighter {
	position:absolute;
	width:5%;
	height:3%;
	top:2%;
	left:47.5%;
	background-color:#ffab00;
	
	visibility:hidden;
	
	z-index:1;
}

#redhighlighter {
	position:absolute;
	width:5%;
	height:3%;
	top:2%;
	left:54%;
	background-color:#ea0037;
	
	visibility:hidden;
	
	z-index:1;
}

#highlighteraser {
	position:absolute;
	width:10%;
	height:3%;
	top:2%;
	left:60.5%;
	background-color:black;
}