#flunkdholder {
	position:absolute;
	top:0%;
	left:0%;
	width:235px;
	height:85px;
	
	background-color:#3D3D3D;

	
	border:1px solid #454545;
	border-radius:0px;
	
	z-index:10;
}
#flunkd a {
	display:block;
	width:100%;
	text-decoration:none;


	position:absolute;
	width:96%;
	height:95%;
	top:10%;
	left:2%;
	text-align:center;
	padding:0;
	margin:0;
	
	font-size: 72px;
	color:#32DBD6;
  background: -webkit-linear-gradient(#32DBD6, #206876);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
	
}