#topicsmenu {
	border-color:#000000;
	background-color:#111111;
	opacity:.8;
}

#classlist {
background-color:#111111;
}

#topicsearchdiv {
	color:#FFFFFF;
	background-color:#000000;
}

#topicsearch {
	background-color:#FFFFFF;
}

.topicssubmenu a:link, .topicssubmenu a:visited {
	color:#FFFFFF;
	background-color:#000000;
}

.topicssubmenu a:hover, .topicssubmenu a:active {
	background-color:#55BBFF;
}

.topicssubmenuheader a:link, .topicssubmenuheader a:visited {
	color:#FFFFFF;
	background-color:#3366FF;;
}

.topicssubmenuheader a:hover, .topicssubmenuheader a:active {
	background-color:#0C4319;
}