#topbannerTrigger {
	position:fixed;
	height:1.5em;
	width:5em;
	top:0em;
	margin:auto;
	left:0;
	right:0;
	
	font-size:2.5em;
	text-align:center;
	font-family:sans-serif;
	color:#FFFFFF;     /*will change in transition; transition specified in JS*/
}
	

#topbannerContainer {
	position:fixed;
	width:100%;
	height:4%;   /*will change in transition*/
	top:0;
	left:0;
	z-index:100;
	background-color:#FFFFFF;
	
	border-style:solid;
	border-width:0px 0px 0px 0px;
	border-color:#CCCCCC;
	
	box-shadow: 0px 3px 3px #AAAAAA;
	
	font-family:sans-serif;
	opacity:.1;  /*will change in transition*/
	transition:opacity .1s .5s, height .15s .5s;   /*transition*/

}

#topbannerTexture {
	position:absolute;
	width:100%;
	height:100%;
	background-image:url('images/lightTexture.png');
	background-size:800px 600px;
}

.spacerLine {
	position:relative;
	width:1px;
	height:65%;
	top:17.5%;
	float:left;
	margin:0em 1em 0em 1em;
	
	border-style:solid;
	border-width:0px 2px 0px 0px;
	border-color:#FCFCFC;
	
	background-color:#BBBBBB;
}

#logoContainer {
	position:relative;
	height:100%;
	width:12.5%;
	float:left;
	
	background-image:url('http://dizzyarts.webs.com/photos/Optical-Flares/BlueFlare.png');
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#logoBoxWidth {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:0em 1em 0em 1em;
}

#logoText {
	position:absolute;
	width:100%;
	height:90%;
	top:10%;
	text-align:center;
	font-size:1.65em;
	text-transform:uppercase;
	font-weight:bold;
	
	opacity:.3;
	color:#FFFFFF;
}
	

#menuCourse1 {
	position:relative;
	height:100%;
	width:9.5%;
	float:left;
	margin:0em 1em 0em 1em;
	

}

#menuCourse1Text {
	position:absolute;
	width:100%;
	height:1em;
	bottom:0;
	top:0;
	margin:auto;
	text-align:center;
	font-size:1.5em;

}

#menuCourse2 {
	position:relative;
	height:100%;
	width:12.5%;
	float:left;
	margin:0em 1em 0em 1em;
	

}

#menuCourse2Text {
	position:absolute;
	width:100%;
	height:1em;
	bottom:0;
	top:0;
	margin:auto;
	text-align:center;
	font-size:1.5em;

}

#menuCourse3 {
	position:relative;
	height:100%;
	width:13.5%;
	float:left;
	margin:0em 1em 0em 1em;
	

}

#menuCourse3Text {
	position:absolute;
	width:100%;
	height:1em;
	bottom:0;
	top:0;
	margin:auto;
	text-align:center;
	font-size:1.5em;

}

#adaptiveLearningDiv {
	position:relative;
	height:100%;
	width:15.5%;
	float:left;
	margin:0em 1em 0em 1em;
	

}

#adaptiveLearningText {
	position:absolute;
	width:100%;
	height:1em;
	bottom:0;
	top:0;
	margin:auto;
	text-align:center;
	font-size:1.5em;

}

#feedbackDiv {
	position:relative;
	height:100%;
	width:7.5%;
	float:left;
	margin:0em 1em 0em 1em;
	

}

#feedbackText {
	position:absolute;
	width:100%;
	height:1em;
	bottom:0;
	top:0;
	margin:auto;
	text-align:center;
	font-size:1.5em;

}

a.menu {
	display:block;
	height:100%;
	color:#131313;
}

a {
	color:#1122CC;
}

a:hover {
	color:#55BBFF;
}