#topbannerTrigger {
	position:fixed;
	height:1.5em;
	width:5em;
	top:0em;
	margin:auto;
	left:0;
	right:0;
	
	font-size:2.5em;
	text-align:center;
	font-family:sans-serif;
	color:#FFFFFF;     /*will change in transition; transition specified in JS*/
}
	

#topbannerContainer {
	height:4%;   /*will change in transition*/
	z-index:1000;
	opacity:.1;  /*will change in transition*/
	transition:opacity .1s .5s, height .15s .5s;   /*transition*/

}