#flunkd a {
	color:#32DBD6;
	background: -webkit-linear-gradient(#32DBD6, #206876);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
}

#flunkdholder {
	box-shadow: 10px 10px 5px #206876;
}

#horizontalbanner {
	box-shadow: 3px 3px 5px #206876;
}

#verticalbanner {
	box-shadow: 3px 3px 5px #206876;
}

#LoginSignUp {
	border-color:#206876;
}

#Login {
	background-color:#206876;
}

#SignUp {
	background-color:#206876;
}

#SearchFlunkd {
	border-color:#206876;
	color:#32DBD6;
}

#Go{
	background-color:#206876;
}






#subflunkdholder {
	box-shadow: 10px 10px 5px #206876;
}

#subflunkd {
	color:#04859D;
	background: -webkit-linear-gradient(#32DBD6, #206876);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
}

#flunkdexplanation {
	border: 3px solid #206876;
}

#HowExplanation {
	box-shadow: 0px 0px 5px 5px #206876;
}