#highlightmenu {
	visibility:hidden;
	position:absolute;
	top:40%;
	left:30%;
	width:40%;
	height:20%;
	background-color:rgba(0,10,200,.5);
	overflow:auto;
	border-radius:20px;
	z-index:1;
}

#closehighlightmenu {
	position:absolute;
	width:15%;
	height:5%;
	top:0%;
	right:1%;
}

#input {
	position:absolute;
	width:100%;
	height:50%;
	top:50%;
	overflow:auto;
}

#notes {
	position:absolute;
	width:40%;
	height:20%;
	top:60%;
	left:30%;
	overflow:auto;
	
	background-color:yellow;
	visibility:hidden;
	
	z-index:1;
}

#clearhighlightedtext {
	position:absolute;
	width:30%;
	height:50%;
	left:2%;
	top:2%;
	background-color:#ff6700;
}

#highlightedtext {
	position:absolute;
	top:52%;
	left:2%;
	width:95%;
}

#savetext {
	position:absolute;
	width:30%;
	height:50%;
	top:2%;
	left:35%;
	background-color:red;
}

#bluehighlighter {
	position:absolute;
	width:5%;
	height:3%;
	top:2%;
	left:41%;
	background-color:#00a287;
	
	visibility:hidden;
	
	z-index:1;
}

#yellowhighlighter {
	position:absolute;
	width:5%;
	height:3%;
	top:2%;
	left:47.5%;
	background-color:#ffab00;
	
	visibility:hidden;
	
	z-index:1;
}

#redhighlighter {
	position:absolute;
	width:5%;
	height:3%;
	top:2%;
	left:54%;
	background-color:#ea0037;
	
	visibility:hidden;
	
	z-index:1;
}

#highlighteraser {
	position:absolute;
	width:10%;
	height:3%;
	top:2%;
	left:60.5%;
	background-color:black;
}

a.L1 {color:#D1F0FF; text-decoration: none;
}
a.L1:hover {color:#A7C0CC;
}

img {vertical-align:middle;
}
a img {border-bottom: 2px ridge white;
}
span img {border-bottom: 0px;
}

h3.headleft {position: absolute;
	left:5%;
}
h3.headright {position: absolute;
	right:5%;
}
.calcheaderleft {position: absolute;
	width:65%;
	height:30px;
	left:6px;
	top:4px;
	float:left;
	text-align:left;
	z-index:100;
	background-color:rgba(0,10,200,.03);
}
.calcheaderright {position: absolute;
	text-align:right;
	width:65%;
	height:30px;
	top:4px;
	right:6px;
	float:right;
	z-index:100;
	background-color:rgba(0,10,200,.03);
}

a .imgA1 { 
    visibility: hidden; 
    
    transition: visibility 0s .2s, border .2s, opacity .2s;
-webkit-transition: visibility 0s .2s, border .2s, opacity .2s;
-moz-transition: visibility 0s .2s, border .2s, opacity .2s;
-o-transition: visibility 0s .2s, border .2s, opacity .2s;
border: 5px ridge rgba(220,220,220,0); 
    opacity: 0;
    border-radius:25px; 
    height:300 px;
    width: 300px; 
   position:fixed; 
   margin: auto;
   left: 0;
   right: 0; 
   top: 0; 
   bottom: 0; 
    z-index: 1;
}
a:hover .imgA1 {
    visibility: visible;
	 transition: visibility .4s .2s, border .4s .2s, opacity .4s .2s;
-webkit-transition: visibility .4s .2s, border .4s .2s, opacity .4s .2s;
-moz-transition: visibility .4s .2s, border .4s .2s, opacity .4s .2s;
-o-transition: visibility .4s .2s, border .4s .2s, opacity .4s .2s;
border: 5px ridge rgba(220,220,220,1);
    opacity: 1;
}
a:active .imgA1 {
    transition: visibility 0s 0s;
-webkit-transition: visibility 0s 0s;
-moz-transition: visibility 0s 0s;
-o-transition: visibility 0s 0s;
    visibility: hidden;
border: 5px ridge rgba(220,220,220,0); 
    opacity: 0;
}


a 
.B1 {
    visibility: hidden;
    transition: border .2s,  background-color .2s, visibility 0s .2s, opacity .2s, color .2s;

-webkit-transition: border .2s,  background-color .2s, visibility 0s .2s, opacity .2s, color .2s;
-moz-transition: border .2s,  background-color .2s, visibility 0s .2s, opacity .2s, color .2s;
-o-transition: border .2s,  background-color .2s, visibility 0s .2s, opacity .2s, color .2s;
    position: fixed;
  border: 5px ridge rgba(220,220,220,0);
   border-radius: 5px;
   width: 300px; height: 300px;
   margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   padding: 10px;
    background-color: #333; /* for browsers that don't understand rgba() notation */
    background-color: rgba(102,204,255,0);
    color: black;
    opacity: 0;
}



a:hover .B1 {
    visibility: visible;
    transition: border .4s .2s,  background-color .4s .2s, visibility .4s .2s, color .4s .2s, opacity .4s .2s;
-webkit-transition: border .4s .2s,  background-color .4s .2s, visibility .4s .2s, color .4s .2s opacity .4s .2s;
-moz-transition: border .4s .2s,  background-color .4s .2s, visibility .4s .2s, color .4s .2s opacity .4s .2s;
-o-transition: border .4s .2s,  background-color .4s .2s, visibility .4s .2s, color .4s .2s opacity .4s .2s;
    background-color: rgba(174,204,255,.9);
   border: 5px ridge rgba(100,100,100,1);
    color: black;
    opacity: 1;
}


a:active .B1 {
    transition: border 0s,  background-color 0s, visibility 0s, color 0s;
-webkit-transition: border 0s,  background-color 0s, visibility 0s, color 0s;
-moz-transition: border 0s,  background-color 0s, visibility 0s, color 0s;
-o-transition: border 0s,  background-color 0s, visibility 0s, color 0s;
    visibility: hidden;
border: 5px ridge rgba(220,220,220,0); 
    color: rgba(0,0,0,0);
    background-color: rgba(102,204,255,0);
    opacity: 0;
}



.Floatleft100 {width:100px;height:100px;float:left;padding:0px 5px 0px 0px;
}
.Floatright100 {width:100px;height:100px;float:right;padding:0px 0px 0px 5px;
}

body {color:#FFFFFF;font-family:Georgia;font-size:13px;
	margin:0;
	padding:0;
	color:white;
	overflow:hidden;


}

img.back {
	position:absolute;
	width:100%;
	height:102%;
	z-index:-999;
	margin:none;
}


#flunkdholder {
	position:absolute;
	top:0%;
	left:0%;
	width:80px;
	height:30px;
	
	background-color:#3D3D3D;
	
	border:1px solid #454545;
	
	border-radius:0px;
	
	z-index:10;
}
#flunkd a {
	display:block;
	width:100%;
	text-decoration:none;


	position:absolute;
	width:96%;
	height:95%;
	top:3%;
	left:2%;
	text-align:center;
	padding:0;
	margin:0;
	
	font-size: 24px;
	color:#32DBD6;
  background: -webkit-linear-gradient(#04859D, #37B6CE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
	
}

#horizontalbanner {
	position:absolute;
	width:100%;
	height:80px;
	top:-70px;
	
	background-color:#262626;
	
	border:1px solid #393939;

	z-index:8;
}

#HowBox {
	position:absolute;
	width:170px;
	height:80%;
	left:100px;
	top:10%;
	
	text-align:center;
	color:#FFFFFF;
	
	border-style:solid;
	border-width: 0px 1px 0px 0px;
	border-color:#393939;
}

#WhatBox {
	position:absolute;
	width:170px;
	height:80%;
	left:270px;
	top:10%;
	
	text-align:center;
	color:#FFFFFF;
	
	border-style:solid;
	border-width: 0px 1px 0px 0px;
	border-color:#393939;
}

#WhoBox {
	position:absolute;
	width:170px;
	height:80%;
	left:440px;
	top:10%;
	
	text-align:center;
	color:#FFFFFF;
	
	border-style:solid;
	border-width: 0px 1px 0px 0px;
	border-color:#393939;
}

#InfoWord {
	list-style-type:none;
    margin:0;
    padding-right:4px;
    overflow:hidden;
}

#InfoWord a {
	display:block;
	width:100%;
	font-weight:bold;
	text-align:center;
	padding:0px;
	color:#FFFFFF;
	text-decoration:none;

	font-size:24px;
}

#InfoQuestion {
	list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

#InfoQuestion a {
	display:block;
	width:100%;
	text-align:center;
	padding:4px;
	color:#FFFFFF;
	text-decoration:none;
}

#verticalbanner {
	position:absolute;
	width:200px;
	height:100%;
	left:-190px;
	
	background-color:#212121;
	
	border:1px solid #333333;
	
	z-index:8;

}

#LoginSignUp {
	position:absolute;
	width:80%;
	height:150px;
	left:10%;
	top:220px;
	
	border-style:solid;
	border-width: 3px;
	border-color:#206876;
	border-radius:10px;
	padding:0px;
	
}


#InputUsernameLabel {
	position:absolute;
	left:8px;
	right:8px;
	top:8px;
	height:20%;
}

#InputUsernameContainer {
	position:absolute;
	left:8px;
	right:16px;
	top:20%;
	height:20%;
}

#InputUsername {
	width:100%;
}

#InputPasswordLabel {
	position:absolute;
	left:8px;
	right:8px;
	top:40%;
	height:20%;
}

#InputPasswordContainter{
	position:absolute;
	left:8px;
	right:16px;
	top:54%;
	height:20%;
}

#InputPassword {
	width:100%;
}

#Login {
	position:absolute;
	width:40%;
	height:15%;
	top:80%;
	left:6.7%;
	background-color:#206876;
	
	text-align:center;
	font-weight:bold;
	font-size:16px;
	
	border-radius:10px;
	
}

#SignUp {
	position:absolute;
	width:40%;
	min-width:65px;
	height:15%;
	top:80%;
	right:6.7%;
	background-color:#206876;
	
	text-align:center;
	font-weight:bold;
	font-size:16px;
	
	border-radius:10px;
	
}

#SearchFlunkd {
	position:absolute;
	width:80%;
	height:90px;
	left:10%;
	top:390px;
	
	border-style:solid;
	border-width: 3px;
	border-color:#206876;
	border-radius:10px;
	padding:0px;
	
	color:#32DBD6;
}

#SearchFlunkdLabel {
	position:absolute;
	left:8px;
	width:90px;
	min-width:90px;
	top:8px;
	height:20%;
	
}

#SearchFlunkdInputContainter {
	position:absolute;
	left:8px;
	right:16px;
	top:30%;
	height:20%;
}

#SearchFlunkdInput {
	width:100%;
}

#Go{
	position:absolute;
	width:45px;
	height:22px;
	top:65%;
	left:6.7%;
	background-color:#206876;
	
	text-align:center;
	font-weight:bold;
	font-size:16px;
	
	border-radius:10px;
	
}
	

#verticaltest {
	position:absolute;
	width:80%;
	height:18%;
	left:10%;
	top:500px;
	
	text-align:center;
	padding-top:5px;
	color:#FFFFFF;
	font-size:24px;
	
	border-style:solid;
	border-width: 1px 0px;
	border-color:#333333;
}

#LearnLable {
	position:absolute;
	width:100%;
	height:15%;
	top:5%;
	
}

#ClassList {
	list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
	
	font-size:14px;
}

#ClassListContainer {
	position:absolute;
	width:100%;
	top:30%;
	height:80%;
	

}

#ClassList a:link, #ClassList a:visited {
	display:block;
	width:100%;
	text-align:center;
	padding:0px;
	color:#FFFFFF;
	text-decoration:none;
}

#ClassList a:hover, #ClassList a:active {
	display:block;
	width:100%;
	text-align:center;
	padding:0px;
	color:#FFFFFF;
	text-decoration:none;
	
	background-color:#188330;
}


#topicsmenu {
	position: absolute;
	left: 0%;
	top: 5%;
	width: 30%;
	height:70%;
	visibility:hidden;
	
	border: 5px solid #006957;
	border-radius: 10px;


	overflow:auto;
	

	z-index:5;
}

#topicsmenu ul {
	list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
#classlist {
background-color:black;
}

#topicsearchdiv {
	position:absolute;
	width:100%;
	height:5%;
	color:#000000;
	background-color:#FFFFFF;
}

#topicsearch {
	position:absolute;
	right:0%;
	background-color:#5ED0BD;
	width:70%;
}

.topicssubmenu a:link, .topicssubmenu a:visited {
	display:block;
	width:100%;
	font-weight:bold;
	color:#000000;
	background-color:#FFFFFF;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

.topicssubmenu a:hover, .topicssubmenu a:active {
	background-color:#90FCEA;
}


.topicssubmenuheader a:link, .topicssubmenuheadera:visited {
	display:block;
	width:100%;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#FF6700;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;

}
.topicssubmenuheader a:hover, .topicssubmenuheader a:active {
	background-color:#FF6700;
}



#classesmenu {
	position: absolute;
	right: 0%;
	top: 5%;
	width: 30%;
	display:block;
	text-align:center;
	padding:4px;

	visibility:hidden;
	
	
	background-color:#1C1C1C;

	z-index:5;
}

#classesmenu ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}


.classessubmenu a:visited, .classessubmenu a:link {
	display:block;
	width:100%;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#1C1C1C;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

.classessubmenu a:hover, .classessubmenu a:active {
	background-color:#98bf21;
}


#toolmenu {
        position:absolute;
        width:50%;
        height:40%;
		left:0%;
		bottom:-45%;

        background-color:rgba(0,10,200,.5);
		border-radius:20px;
        z-index:13;

        transition: all .5s;
}

#toolmenuheader {
	position:absolute;
	top:-5%;
	width:100%;
	height:10%;
	text-align:center;
}

.toolsquare {
	position:absolute;
	height:25%;
	width:16%;

	background-color:black;
	border-style:solid;
	border-width:5px;
	border-color:white;
	border-radius:5px;

}

.toolsquaretrigger {
	position:absolute;
	height:25%;
	width:16%;
	z-index:13;
}

#toolsquare1 {
	left:13.5%;
	bottom:55%;
}

#toolsquare1trigger {
	left:13.5%;
	bottom:55%;
}


#toolsquare2 {
	left:42%;
	bottom:55%;
}

#toolsquare2trigger {
	left:42%;
	bottom:55%;
}


#toolsquare3 {
	left:70.5%;
	bottom:55%;
}

#toolsquare3trigger {
	left:70.5%;
	bottom:55%;
}



#toolsquare4 {
	left:13.5%;
	bottom:14%;
}

#toolsquare4trigger {
	left:13.5%;
	bottom:14%;
}



#toolsquare5 {
	left:42%;
	bottom:14%;
}

#toolsquare5trigger {
	left:42%;
	bottom:14%;
}



#toolsquare6 {
	left:70.5%;
	bottom:14%;
}

#toolsquare6trigger {
	left:70.5%;
	bottom:14%;
}







#notepad {
	position:absolute;
	left:12%;
	bottom:57%;
	height:80%;
	transition: bottom .25s, left .25s linear, height .25s;
	
	z-index:10;
}

#calculator {
	position:absolute;
	left:10%;
	bottom:85%;
	height:40%;
	transition: bottom .25s, left .25s linear, height .25s;
	
	z-index:11;
}

#pencil {
	position:absolute;
	left:28%;
	bottom:91%;
	height:40%;
	transition: bottom .25s, left .25s linear, height .25s;

	
	z-index:12;
}

#toolstrigger {
	position:absolute;
	left:5%;
	bottom:0%;
	height:10%;
	width:15%;
	background-color:black;
	opacity:.8;
	color:white;
	text-align:center;
	text-transform:uppercase;
	transition: all .4s;
	
	z-index:18;
}

#mediamenu {
	position:absolute;
	width:20%;
	height:10%;
	left:40%;
	bottom:-15%;
	
	background-color:rgba(0,200,0,0);
	z-index:7;
	border-radius:20px;
	transition: width .5s, height .5s, bottom .3s, left .5s;
}

#mediamenutrigger {
	position:absolute;
	width:30%;
	height:10%;
	left:35%;
	bottom:0%;
	background-color:black;
	opacity:.8;
	color:white;
	text-align:center;
	text-transform:uppercase;
	transition: all .4s;
	
	z-index:16;
}

.mediaboxtrigger {
	position:absolute;
	width:13%;
	height:80%;
	bottom:6%;
	
	text-align:center;
	z-index:12;
}	

.divlink {
	display:block;
	height:100%;
}

.imagelink {
	border:0 none;
	text-decoration:none;
}

#linkspan {
	position:relative;
	width:100%;
	height:100%;
	top:0%;
	left:0%;
}

#mediabox1trigger {
	left:1%;
}

#mediabox2trigger {
	left:17%;
}

#mediabox3trigger {
	left:33%;
}

#mediabox4trigger {
	right:33%;
}

#mediabox5trigger {
	right:17%;
}

#mediabox6trigger {
	right:1%;
}

.mediabox {
	position:absolute;
	width:13%;
	height:80%;
	bottom:6%;
	
	text-align:center;
	font-weight:bold;
	

	border: 5px solid white;
	border-radius:10px;
	
	transition: width .5s, height .5s, bottom .3s, left .5s, right .5s;
	
	z-index:8;
}

#mediabox1 {
	left:1%;
	background-color:black;

}

#mediabox2 {
	left:17%;
	background-color:black;
}

#mediabox3 {
	left:33%;
	background-image:url('file:///F:/flunkd1.2/images/examples.jpg');
}

#mediabox4 {
	right:33%;
	background-image:url('file:///F:/flunkd1.2/images/videoexamples.jpg');
}

#mediabox5 {
	right:17%;
	background-image:url('file:///F:/flunkd1.2/images/practiceproblems.jpg');
	
}

#mediabox6 {
	right:1%;
	background-color:black;
}

.medialabel {
	color:red;
	text-align:center;
	z-index:10;
}

#openbook {
	position:absolute;
	width:18%;
	height:24%;
	left:36%;
	bottom:-16%;
	z-index:9;
	transition:all .5s;
}

#videos {
	position:absolute;
	width:14%;
	height:18%;
	left:46%;
	bottom:-9.5%;
	z-index:9;
	transition:all .5s;
}

#game {
	position:absolute;
	width:11%;
	height:11%;
	left:54%;
	bottom:-5%;
	-webkit-transform:rotate(15deg);
	z-index:9;
	transition:all .5s;
}

#contacttab {
	position:absolute;
        width:5%;
        height:4%;
        top:50%;
        left:2%;

        background-color:grey;
        border: 2px solid black;
        z-index:5;
}

#contact {
	position:absolute;
	left:87%;
	top:100%;
	width:22.5%;
	height:60%;
	z-index:24;
	transition:all .5s;
}

#galaxy {
	position:absolute;
	height:30%;
	left:0%;
	bottom:84%;
	z-index:25;

	transition: bottom .5s, height .5s, left .5s;
}

#contactmenu {
        position:absolute;
        width:20%;
        height:22%;
	bottom:84%;
        left:6.5%;
		border-radius:8px;

        z-index:26;
	
	background-color: rgba(50,50,50,1);
	visibility:hidden;
	opacity:0;
	
	

}



#contactmenu a:link,#contactmenu a:visited {
	display:block;
	width:80%;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#1C1C1C;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

#contactmenu a:hover,#contactmenu a:active {
	background-color:#98BF21;
}

#contactlistbutton {
	position:absolute;
	width:100%;
	height:10%;
	background-color:blue;
	color:white;
	z-index:27;
}

#writemessage {
	position:absolute;
	top:0%;
	right:0%;
	width:100%;
	height:10%;
	background-color:black;
	border:1px solid grey;
	visibility:hidden;
	z-index:28;
}

#contactlistlabel {
	position:absolute;
	right:0%;
	width:50%;
	height:100%;
	background-color:red;
}

#contactlist {
	position:absolute;
	top:0%;
	width:100%;
	background-color:white;
	z-index:29;
}

#contactlist ul {
	list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

#contactlist a:link, #contactlist a:visited {
	display:block;
	width:100%;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#FF6700;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;


}
#contactlist a:hover, #contactlist a:active {
	background-color:orange;

}
	
#searchcontacts {
	position:absolute;
	top:0%;
	width:100%;
	height:15%;
	background-color:orange;
}

#searchcontacsinput {
	right:0%;
	width:50%;
}

#writemessagetextholder {
	position:absolute;
	top:50%;
	width:100%;
	height:50%;
	visibility:hidden;
}

#writemessagetext {
	width:100%;
	height:100%;
	background-color:#ABFFD8;
}

#contacttrigger {
	position:absolute;
	height:10%;
	width:15%;
	left:80%;
	bottom:0%;
	background-color:black;
	opacity:.8;
	color:white;
	text-align:center;
	text-transform:uppercase;
	transition: all .4s;

	z-index:28;
}
	
	
#VideoPanel {
	position: absolute;
	width: 92%;
	height: 83%;
	left:4%;
	top:5%;

	margin:0;
	padding:0;

	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #454545;
	border-radius: 5px;
	background-color: #212121;
	z-index: 0;
}

#VideoVerticalDivider {
	position:absolute;
	width:2px;
	height:60%;
	left:50%;
	top:27%;
	
	background-color:#454545
}

#VideoTopicNameHeader {
	position:absolute;
	left:3%;
	top:0%;

	width:50%;
	height:5%;
	
	color:#FFFFFF;
}

#VideoTotalLength {
	position:absolute;
	left:0%;
	right:0%;
	height:10%;
	top:5%;
	
	text-align:center;
	color:#FFFFFF;
}



#VideoLesson1Description {
	position:absolute;
	width:14%;
	height:35%;
	left:2%;
	top:17%;
	
	text-align:center;
	background-color:#212121;
	border: 2px solid #454545;
	color:#FFFFFF;
}

#VideoLesson2Description {
	position:absolute;
	width:14%;
	height:35%;
	right:52%;
	top:60%;
	
	text-align:center;
	background-color:#212121;
	border: 2px solid #454545;
	color:#FFFFFF;
}

#VideoLesson3Description {
	position:absolute;
	width:14%;
	height:35%;
	left:52%;
	top:17%;
	
	text-align:center;
	background-color:#212121;
	border: 2px solid #454545;
	color:#FFFFFF;
}

#VideoLesson4Description {
	position:absolute;
	width:14%;
	height:35%;
	right:2%;
	top:60%;
	
	text-align:center;
	background-color:#212121;
	border: 2px solid #454545;
	color:#FFFFFF;
}

#EmbeddedVideo1 {
	position:absolute;
	left:18%;
	top:16%;
	border:1px solid #000000;
}

#EmbeddedVideo2 {
	position:absolute;
	left:2%;
	top:58%;
	border:1px solid #000000;
}

#EmbeddedVideo3 {
	position:absolute;
	right:2%;
	top:16%;
	border:1px solid #000000;
}

#EmbeddedVideo4 {
	position:absolute;
	right:18%;
	top:58%;
	border:1px solid #000000;
}
	
	
#bookcover {
	position: absolute;
	width: 92%;
	height: 83%;
	left:4%;
	top:5%;

	margin:0;
	padding:0;

	border-style: solid;
	border-width: 2px 5px 5px 5px;
	border-color: white;
	border-radius: 5px;
	background-color: #F8ECC2;
	z-index: 0;

}



#leftpage {
	width: 49.5%;
	position:absolute;
	top:0px;
	left:21px;
	bottom:13px;
	float:left;




	margin:0;
	padding:0;
	overflow:auto;


	color:black;


	background: -webkit-gradient(linear, left center, right center, 		from(#F8ECC2), to(#E3D8B2), color-stop(.8, #F8ECC2));
	background: -moz-linear-gradient(left, #F8ECC2 0%, #F8ECC2 80%, 		#E3D8B2 100%);
	background: -webkit-linear-gradient(left, #F8ECC2 0%,#F8ECC2 80%, 		#E3D8B2 100%);

}

#rightpage {
	position:absolute;
	width: 49.5%;
	top:0px;
	right:3px;
	bottom:3px;
	float:left;


	margin:0;
	padding:0;

	overflow:auto;

	color:black;


	background: -webkit-gradient(linear, left center, right center, 		from(#E3D8B2), to(#F8ECC2), color-stop(.2, #F8ECC2));
	background: -moz-linear-gradient(left, #E3D8B2 0%, #F8ECC2 20%, 		#F8ECC2 100%);
	background: -webkit-linear-gradient(left, #E3D8B2 0%,#F8ECC2 20%, 		#F8ECC2 100%);

}


div .bookpage {
	position: absolute;
	left: 2px;
	right: 2px;
	top: 0px;
	bottom: 1px;

	margin:0;
	padding:0;

	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #C2B898;
	background-color: #F8ECC2;
}




::-webkit-scrollbar
{
display:none;
}