body {
	color:#DDDDDD;
	margin:0;
	font-size:62.5%;
	font-family:sans-serif;
	margin:0;
	padding:0;



}

a.dark {
	color:#55BBFF;
}

a.dark:hover {
	color:#1122CC;
}

ul.inline {
	padding:0px 0px 0px 15px;
}

li.inline {
	padding:5px 0px 0px 0px;
}

#back1 {
	position:fixed;
	width:100%;
	height:102%;
	z-index:-999;
	margin:none;
}

h1 {
margin:0;
padding:0;
}

#Calculus1Header {
	position:absolute;
	width:10.5em;
	height:15%;
	left:5.75em;
	top:1.25em;
	
	color:#3366FF;
	font-size:6em;
	opacity:.8;


}

#whyCalculusQuestion {
	position:absolute;
	width:11em;
	height:1.5em;
	left:14em;
	top:9.5em;
	
	color:#3366FF;
	font-size:2.5em;
	opacity:.8;

}

#whyCalculusAnswer {
	position:absolute;
	width:18em;
	height:16em;
	left:23.3em;
	top:20em;
	
	font-size:1.5em;
	opacity:.8;

}

#calculusHistory {
	position:absolute;
	width:11em;
	height:1.5em;
	left:26.5em;
	top:9.5em;
	
	color:#3366FF;
	font-size:2.5em;
	opacity:.8;

}

#calculusHistoryExplanation {
	position:absolute;
	width:18em;
	height:16em;
	left:44.15em;
	top:20em;
	
	font-size:1.5em;
	opacity:.8;

}

#flotChartHeader {
	position:absolute;
	width:11em;
	height:1.5em;
	left:14em;
	top:23.5em;
	
	color:#3366FF;
	font-size:2.5em;
	opacity:.8;

}

#topicsmenu {
	left: 0%;
	top: 10em;
	width: 30em;
	height:88em;

	
	visibility:visible;
}

#CalculusFlowchart {
	position:absolute;
	left:35em;
	top:65em;
	width:60em;
	height:50em;
	opacity:.8;
	
	border:1px solid #000000;
	border-radius:5px;
}

#calculusVideoHeader {
	position:absolute;
	width:30em;
	height:1.5em;
	left:14em;
	top:49em;
	
	color:#3366FF;
	font-size:2.5em;
	opacity:.8;
}

#calculusVideo {
	position:absolute;
	width:60em;
	height:40em;
	left:35em;
	top:130em;
}
